In [58]:
from pyspark.sql import SparkSession

In [59]:
spark=SparkSession.builder.appName('practice').getOrCreate()

In [60]:
#df_pyspark=spark.read.csv('D:/test3.csv',header=True)

In [61]:
df_pyspark=spark.read.csv('D:/test3.csv',header=True, inferSchema='True')

In [62]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|salary|
+-------+----+----------+------+
|ashray |  21|         5| 30000|
| sunny |  22|         6| 35000|
|  bunny|  23|         7| 40000|
|    ram|null|         5| 50000|
|    sam|  26|         4|450000|
|   null|  26|      null|  null|
|   null|null|         7| 70000|
+-------+----+----------+------+

In [63]:
## droping the column

In [64]:
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|salary|
+----+----------+------+
|  21|         5| 30000|
|  22|         6| 35000|
|  23|         7| 40000|
|null|         5| 50000|
|  26|         4|450000|
|  26|      null|  null|
|null|         7| 70000|
+----+----------+------+

In [65]:
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|salary|
+-------+---+----------+------+
|ashray | 21|         5| 30000|
| sunny | 22|         6| 35000|
|  bunny| 23|         7| 40000|
|    sam| 26|         4|450000|
+-------+---+----------+------+

In [66]:
#how=any

In [67]:
df_pyspark.na.drop(how='all').show()

+-------+----+----------+------+
|   Name| Age|Experience|salary|
+-------+----+----------+------+
|ashray |  21|         5| 30000|
| sunny |  22|         6| 35000|
|  bunny|  23|         7| 40000|
|    ram|null|         5| 50000|
|    sam|  26|         4|450000|
|   null|  26|      null|  null|
|   null|null|         7| 70000|
+-------+----+----------+------+

In [68]:
df_pyspark.na.drop(how='any').show()

+-------+---+----------+------+
|   Name|Age|Experience|salary|
+-------+---+----------+------+
|ashray | 21|         5| 30000|
| sunny | 22|         6| 35000|
|  bunny| 23|         7| 40000|
|    sam| 26|         4|450000|
+-------+---+----------+------+

In [69]:
##thresh

In [70]:
df_pyspark.na.drop(how='any', thresh=2).show()  #atleast 2 notnull value be there

+-------+----+----------+------+
|   Name| Age|Experience|salary|
+-------+----+----------+------+
|ashray |  21|         5| 30000|
| sunny |  22|         6| 35000|
|  bunny|  23|         7| 40000|
|    ram|null|         5| 50000|
|    sam|  26|         4|450000|
|   null|null|         7| 70000|
+-------+----+----------+------+

In [71]:
#subset

In [72]:
df_pyspark.na.drop(how='any', subset=['Experience']).show()

+-------+----+----------+------+
|   Name| Age|Experience|salary|
+-------+----+----------+------+
|ashray |  21|         5| 30000|
| sunny |  22|         6| 35000|
|  bunny|  23|         7| 40000|
|    ram|null|         5| 50000|
|    sam|  26|         4|450000|
|   null|null|         7| 70000|
+-------+----+----------+------+

In [73]:
##Filling the missing Value

In [74]:
df_pyspark.na.fill('Missing value',['Experience','Age','Name']).show()

+-------------+----+----------+------+
|         Name| Age|Experience|salary|
+-------------+----+----------+------+
|      ashray |  21|         5| 30000|
|       sunny |  22|         6| 35000|
|        bunny|  23|         7| 40000|
|          ram|null|         5| 50000|
|          sam|  26|         4|450000|
|Missing value|  26|      null|  null|
|Missing value|null|         7| 70000|
+-------------+----+----------+------+

In [75]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|salary|
+-------+----+----------+------+
|ashray |  21|         5| 30000|
| sunny |  22|         6| 35000|
|  bunny|  23|         7| 40000|
|    ram|null|         5| 50000|
|    sam|  26|         4|450000|
|   null|  26|      null|  null|
|   null|null|         7| 70000|
+-------+----+----------+------+

In [76]:
from pyspark.ml.feature import Imputer
imputer=Imputer(
    inputCols=['Age','Experience','salary'],
    outputCols=["{}_imputed".format(c) for c in['Age','Experience','salary']]
   ).setStrategy("mean")

In [77]:
# Add imputation cols to df

In [78]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|salary|Age_imputed|Experience_imputed|salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|ashray |  21|         5| 30000|         21|                 5|         30000|
| sunny |  22|         6| 35000|         22|                 6|         35000|
|  bunny|  23|         7| 40000|         23|                 7|         40000|
|    ram|null|         5| 50000|         23|                 5|         50000|
|    sam|  26|         4|450000|         26|                 4|        450000|
|   null|  26|      null|  null|         26|                 5|        112500|
|   null|null|         7| 70000|         23|                 7|         70000|
+-------+----+----------+------+-----------+------------------+--------------+