In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\hp\anaconda3\lib\site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\hp\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [2]:
import pyspark

In [4]:
import pandas as pd
pd.read_csv('D:/test1.csv')

     Name  Age
0  ashray   22
1   rashi   18
2   sunny   29

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
spark

In [9]:
df_pyspark=spark.read.csv('D:/test1.csv')

In [11]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
|ashray| 22|
| rashi| 18|
| sunny| 29|
+------+---+

In [14]:
df_pyspark=spark.read.option('header','true').csv('D:/test1.csv')

In [15]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|ashray| 22|
| rashi| 18|
| sunny| 29|
+------+---+

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [18]:
df_pyspark.head(2)

[Row(Name='ashray', Age='22'), Row(Name='rashi', Age='18')]

In [19]:
df_pyspark.tail(2)

[Row(Name='rashi', Age='18'), Row(Name='sunny', Age='29')]