In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
#read the dataset

In [8]:
df_pyspark=spark.read.option('header','true').csv('D:/test2.csv')

In [9]:
df_pyspark.show()

+------+----+----------+
|  Name|Age |Experience|
+------+----+----------+
|Ashray|  21|         5|
| Rashi|  22|         4|
| sunny|  23|         6|
| bunny|  24|         3|
+------+----+----------+

In [10]:
##check the Schema

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age : string (nullable = true)
 |-- Experience: string (nullable = true)

In [13]:
df_pyspark=spark.read.option('header','true').csv('D:/test2.csv', inferSchema=True)

In [14]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age : integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [15]:
df_pyspark=spark.read.csv('D:/test2.csv',header=True, inferSchema=True)

In [16]:
df_pyspark.show()

+------+----+----------+
|  Name|Age |Experience|
+------+----+----------+
|Ashray|  21|         5|
| Rashi|  22|         4|
| sunny|  23|         6|
| bunny|  24|         3|
+------+----+----------+

In [17]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age : integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [20]:
df_pyspark.columns

['Name', 'Age ', 'Experience']

In [22]:
df_pyspark.select('Name','Experience').show()

+------+----------+
|  Name|Experience|
+------+----------+
|Ashray|         5|
| Rashi|         4|
| sunny|         6|
| bunny|         3|
+------+----------+

In [23]:
df_pyspark.select(['Name','Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
|Ashray|         5|
| Rashi|         4|
| sunny|         6|
| bunny|         3|
+------+----------+

In [24]:
df_pyspark['Name']

Column<'Name'>

In [25]:
df_pyspark.dtypes

[('Name', 'string'), ('Age ', 'int'), ('Experience', 'int')]

In [28]:
df_pyspark.describe().show()

+-------+------+------------------+------------------+
|summary|  Name|              Age |        Experience|
+-------+------+------------------+------------------+
|  count|     4|                 4|                 4|
|   mean|  null|              22.5|               4.5|
| stddev|  null|1.2909944487358056|1.2909944487358056|
|    min|Ashray|                21|                 3|
|    max| sunny|                24|                 6|
+-------+------+------------------+------------------+

In [29]:
#Adding columns

In [33]:
df_pyspark=df_pyspark.withColumn('Experience after 2 yrs', df_pyspark['Experience']+2)

In [34]:
df_pyspark.show()

+------+----+----------+----------------------+
|  Name|Age |Experience|Experience after 2 yrs|
+------+----+----------+----------------------+
|Ashray|  21|         5|                     7|
| Rashi|  22|         4|                     6|
| sunny|  23|         6|                     8|
| bunny|  24|         3|                     5|
+------+----+----------+----------------------+

In [35]:
##Drop the column

In [37]:
df_pyspark.drop('Experience after 2 yrs').show()

+------+----+----------+
|  Name|Age |Experience|
+------+----+----------+
|Ashray|  21|         5|
| Rashi|  22|         4|
| sunny|  23|         6|
| bunny|  24|         3|
+------+----+----------+

In [38]:
#Rename the column

In [39]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+----+----------+----------------------+
|New Name|Age |Experience|Experience after 2 yrs|
+--------+----+----------+----------------------+
|  Ashray|  21|         5|                     7|
|   Rashi|  22|         4|                     6|
|   sunny|  23|         6|                     8|
|   bunny|  24|         3|                     5|
+--------+----+----------+----------------------+