In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
df_pyspark=spark.read.csv('D:/test4.csv',header=True,inferSchema=True)

In [4]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|ashray | 22|         6| 20000|
|  rashi| 32|         7|250000|
|  gauri| 25|         4| 14000|
|    ram| 53|        12| 18000|
|    sam| 26|         3| 40000|
|   abhi| 24|         2| 32000|
+-------+---+----------+------+

In [ ]:
#filter operation

In [6]:
df_pyspark.filter('Salary<=20000').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|ashray | 22|         6| 20000|
|  gauri| 25|         4| 14000|
|    ram| 53|        12| 18000|
+-------+---+----------+------+

In [7]:
df_pyspark.filter('Salary<=20000').select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|ashray | 22|
|  gauri| 25|
|    ram| 53|
+-------+---+

In [8]:
df_pyspark.filter((df_pyspark['Salary']<20000)&(df_pyspark['Salary']>15000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| ram| 53|        12| 18000|
+----+---+----------+------+

In [9]:
df_pyspark.filter(~((df_pyspark['Salary']<20000)&(df_pyspark['Salary']>15000))).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|ashray | 22|         6| 20000|
|  rashi| 32|         7|250000|
|  gauri| 25|         4| 14000|
|    sam| 26|         3| 40000|
|   abhi| 24|         2| 32000|
+-------+---+----------+------+