In [11]:
from pyspark.sql import SparkSession

In [12]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [13]:
df_pyspark=spark.read.csv('D:/test5.csv',header=True,inferSchema=True)

In [14]:
df_pyspark.show()

+---------+------------+------+
|    Name |  Department|Salary|
+---------+------------+------+
|    krish|Data Science| 10000|
|    krish|         Iot|  5000|
|   mahesh|    big data|  4000|
|    krish|    big data|  4000|
|   mahesh|Data Science|  3000|
|sudhanshu|Data Science| 20000|
|sudhanshu|         IOT| 10000|
|sudhanshu|    big data|  5000|
|    sunny|Data Science| 10000|
+---------+------------+------+

In [15]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [7]:
##Group by

In [22]:
df_pyspark.groupBy('Name ').sum().show()

+---------+-----------+
|    Name |sum(Salary)|
+---------+-----------+
|    sunny|      10000|
|    krish|      19000|
|sudhanshu|      35000|
|   mahesh|       7000|
+---------+-----------+

In [24]:
df_pyspark.groupBy('Name ').min().show()

+---------+-----------+
|    Name |min(Salary)|
+---------+-----------+
|    sunny|      10000|
|    krish|       4000|
|sudhanshu|       5000|
|   mahesh|       3000|
+---------+-----------+

In [26]:
df_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      10000|
|         Iot|       5000|
|    big data|      13000|
|Data Science|      43000|
+------------+-----------+

In [27]:
df_pyspark.groupBy('Department').mean().show()

+------------+-----------------+
|  Department|      avg(Salary)|
+------------+-----------------+
|         IOT|          10000.0|
|         Iot|           5000.0|
|    big data|4333.333333333333|
|Data Science|          10750.0|
+------------+-----------------+

In [29]:
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    1|
|         Iot|    1|
|    big data|    3|
|Data Science|    4|
+------------+-----+

In [30]:
#we can apply direct agg fun

In [31]:
df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      71000|
+-----------+